border-radius(a)
  -webkit-border-radius a
  -moz-border-radius a
  border-radius a

border-radius-header(a)
  -webkit-border-top-left-radius a
  -webkit-border-top-right-radius a
  -moz-border-radius-topleft a
  -moz-border-radius-topright a
  border-top-left-radius a
  border-top-right-radius a

border-radius-footer(a)
  -webkit-border-bottom-right-radius a;
  -webkit-border-bottom-left-radius a
  -moz-border-radius-bottomright a
  -moz-border-radius-bottomleft a
  border-bottom-right-radius a
  border-bottom-left-radius a

border-radius-left(a)
  -webkit-border-top-left-radius a
  -webkit-border-bottom-left-radius a
  -moz-border-radius-topleft a
  -moz-border-radius-bottomleft a
  border-top-left-radius a
  border-bottom-left-radius a

border-radius-right(a)
  -webkit-border-top-right-radius a
  -webkit-border-bottom-right-radius a
  -moz-border-radius-topright a
  -moz-border-radius-bottomright a
  border-top-right-radius a
  border-bottom-right-radius a
