/*
	Reset CSS
*/
body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, button, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  font-weight: normal
  font-style: normal
  font-size: 100%
  font-family: inherit
  text-align: left

*
  box-sizing border-box

table
  border-collapse: collapse
  border-spacing: 0

ol,
ul
  list-style: none


/*
	Fix float/clear problem
*/
.resetfloat:after
  visibility: hidden
  display: block
  font-size: 0
  content: ' '
  clear: both
  height: 0
  margin: 0 !important
  padding: 0 !important

.resetfloat
  display: inline-block

.resetfloat
  display: block
  zoom: 1

/*
      Elements
      http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
*/
article,
aside,
footer,
header,
hgroup,
main,
nav,
section
  display: block

p
  margin-top: 8px
  margin-bottom: 6px
  display: block
  font-weight: 200

b,
strong
  font-weight: 400

h1,
h2,
h3
  display: block
  margin-top: 24px
  margin-bottom: 8px
  text-transform: uppercase
  font-weight: 700

h1
  font-size: 3em

h2
  font-size: 2.4em

h3
  font-size: 2em

h4
  font-size: 1.4em

h5
  font-size 1.2em

p + h4
  margin-top 12px

