/*

  node_modules/stylus/bin/stylus --watch -c include/css/style.styl
  node_modules/stylus/bin/stylus --watch include/css/style.styl

*/
/*
    Stylus variables
*/
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
button,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  text-align: left;
}
* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
.resetfloat:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.resetfloat {
  display: inline-block;
}
.resetfloat {
  display: block;
  zoom: 1;
}
article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
p {
  margin-top: 8px;
  margin-bottom: 6px;
  display: block;
  font-weight: 200;
}
b,
strong {
  font-weight: 400;
}
h1,
h2,
h3 {
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
p + h4 {
  margin-top: 12px;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #333;
  background-color: #222;
  background-position: top center;
  background-repeat: repeat;
  background-size: 374px 432px;
  background-image: url("../images/bg-grid.png");
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
#content {
  padding: 0;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
#wrapper {
  background-image: url("../images/bg-fade.png");
  background-repeat: repeat-x;
}
#weapon-selector-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.6;
  background-color: #082c31;
  display: none;
}
i {
  font-style: normal;
}
#footer-langselector {
  width: 210px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  clear: both;
}
#footer-langselector b {
  color: #666;
}
#footer-langselector span {
  color: #fff;
  display: inline-block;
  margin-top: 4px;
  padding: 3px 8px;
  cursor: pointer;
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#footer-langselector span.active {
  background-color: #555;
}
#footer-top {
  margin-top: 42px;
}
#footer-top #menuShort {
  color: #666;
}
#footer-top #menuShort div {
  text-align: center;
}
#footer-top #menuShort div ul {
  display: inline-block;
  margin: auto 0;
}
#footer-top #menuShort div ul li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
#footer {
  padding: 20px;
}
#branding {
  margin-top: 20px;
  color: #666;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4em;
  background-image: url("../images/bg-dark85.png");
}
#branding .disclaimer {
  text-transform: none;
  text-align: center;
  margin: 0;
  color: #666;
  font-size: 12px;
}
/*
    WWR
*/
#wwr a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
#wwr #logo-container {
  text-align: center;
}
#wwr #logo-container img {
  cursor: pointer;
}
#wwr #logo {
  width: 190px;
}
#wwr h1 {
  text-indent: -9000px;
  height: 0px;
}
#wwr h2 {
  color: #fff;
}
#wwr .level {
  font-size: 80%;
  font-weight: 700;
}
#wwr #info {
  margin-top: 12px;
  color: #fff;
}
#wwr #info p {
  text-align: center;
  margin: 0 0 20px 0;
}
#wwr #info h2 {
  margin: 0;
  text-align: center;
  font-size: 2em;
}
#wwr .static-gui {
  display: none;
}
#wwr .grey-box {
  margin-top: 24px;
  padding: 8px 13px 8px 12px;
  background-color: #444;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}
#wwr .grey-box a {
  color: #15b8d9;
}
#wwr .grey-box p {
  margin-top: 2px;
  margin-bottom: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#wwr #pane-error {
  background-color: #444;
  padding: 10px 12px 10px 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  margin-top: 30px;
}
#wwr #pane-error .error-header {
  margin: 0;
}
#wwr #pane-error .error-icon {
  vertical-align: middle;
  margin-right: 16px;
  float: left;
}
#wwr #pane-error p {
  padding-left: 82px;
}
#wwr #pane-start #menu {
  width: 30%;
  float: left;
}
#wwr #pane-start #cirkus {
  padding-left: 20px;
  width: 70%;
  float: left;
}
#wwr #pane-start #cirkus #cirkus-inner {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left {
  float: left;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 50%;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left #cirkus-banner a {
  display: inline-block;
  background-color: #b00;
  margin: 30px 20px 20px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 6px 12px;
  text-align: center;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left #cirkus-news li:nth-child(odd) {
  background-color: #15b8d9;
  color: #fff;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left #cirkus-news li:first-child {
  background-color: #15b8d9;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left #cirkus-news li {
  background-color: #fff;
  margin: 0;
  padding: 6px 12px;
  cursor: pointer;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left #cirkus-news li .subject {
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-left #cirkus-news li .subject span {
  display: none;
}
#wwr #pane-start #cirkus #cirkus-inner #cirkus-right {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  float: right;
  width: 50%;
  height: 340px;
  background-image: url("../images/robot-front.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
}
#wwr #pane-newslist li {
  margin-bottom: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}
#wwr #pane-newslist li a {
  color: #15b8d9;
}
#wwr #pane-newslist li .subject {
  margin: 0;
  width: 100%;
  padding: 8px 13px 8px 12px;
  background-color: #555;
  display: inline-block;
  font-size: 1.4em;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#wwr #pane-newslist li .subject span {
  margin-left: 10px;
  font-size: 60%;
}
#wwr #pane-newslist li .notes {
  margin: 0;
  padding: 8px 13px 8px 12px;
  background-color: #444;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#wwr #pane-releases .release-box {
  margin-bottom: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}
#wwr #pane-releases .release-box a {
  color: #15b8d9;
}
#wwr #pane-releases .release-box h4 {
  width: 100%;
  padding: 8px 13px 8px 12px;
  background-color: #555;
  display: inline-block;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#wwr #pane-releases .release-box h4 span {
  margin-left: 10px;
  font-size: 60%;
}
#wwr #pane-releases .release-box .content {
  padding: 8px 13px 8px 12px;
  background-color: #444;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#wwr #pane-releases .release-box .content h5 {
  margin-top: 12px;
  font-size: 1.3em;
  text-transform: uppercase;
}
#wwr .links {
  margin-bottom: 12px;
  margin-top: 12px;
  background-color: #444;
  padding: 10px 12px 10px 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
}
#wwr .robot,
#wwr .weapon {
  max-width: 100%;
}
#wwr .robot .header,
#wwr .weapon .header {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #555;
  padding: 10px 12px 10px 12px;
  color: #fff;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#wwr .robot .container,
#wwr .weapon .container {
  width: 100%;
  padding: 10px 12px 10px 12px;
  color: #fff;
  background-color: #444;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#wwr .robot .info-box,
#wwr .weapon .info-box {
  float: left;
  width: 50%;
  padding-right: 20px;
}
#wwr .robot .info-box span.label,
#wwr .weapon .info-box span.label {
  width: 150px;
  display: inline-block;
}
#wwr .robot .info-box .row b,
#wwr .weapon .info-box .row b {
  display: inline-block;
}
#wwr .robot .info-box .row b:first-letter,
#wwr .weapon .info-box .row b:first-letter {
  text-transform: uppercase;
}
#wwr .robot .info-box .info-text,
#wwr .weapon .info-box .info-text {
  margin-top: 20px;
  font-size: 90%;
}
#wwr .robot .image,
#wwr .weapon .image {
  float: left;
  width: 50%;
  padding: 10px 10px;
  background-color: #103439;
}
#wwr .robot .image img,
#wwr .weapon .image img {
  max-width: 100%;
}
#wwr .robot .armament {
  max-width: 240px;
}
#wwr .robot .armament h5 {
  padding-bottom: 8px;
}
#wwr .robot .armament .totals {
  padding: 4px;
  margin-top: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#wwr .robot .armament .totals.warning {
  background-color: #b00;
}
#wwr .robot .hardpoints {
  border-top: 1px solid #000;
}
#wwr .robot .hardpoints .filledSlot {
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #555;
}
#wwr .robot .hardpoints .emptySlot {
  background-repeat: no-repeat;
  background-size: 100px;
  margin-top: 7px;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #000;
}
#wwr .robot .hardpoints .hardpoint-medium.emptySlot {
  background-image: url("../images/icons/weapon-medium.png");
}
#wwr .robot .hardpoints .hardpoint-standard.emptySlot {
  background-image: url("../images/icons/weapon-standard.png");
}
#wwr .robot .hardpoints .hardpoint-heavy.emptySlot {
  background-image: url("../images/icons/weapon-heavy.png");
}
#wwr .robot .hardpoints .hardpoint-medium.filledSlot,
#wwr .robot .hardpoints .hardpoint-standard.filledSlot,
#wwr .robot .hardpoints .hardpoint-heavy.filledSlot {
  background-image: none;
}
#wwr .robot .hardpoints .weapon-infobox .info {
  float: right;
}
#wwr .robot .hardpoints .weapon-infobox .info .row {
  font-size: 11px;
  width: 50px;
  float: right;
  text-align: right;
  padding-right: 3px;
  line-height: 14px;
}
#wwr .robot .hardpoints .weapon-infobox .info .row b {
  padding-right: 3px;
}
#wwr .robot .hardpoints .weapon-infobox .weapon-infobox-image {
  float: left;
  width: 60px;
  height: 45px;
  margin-bottom: 5px;
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}
#wwr .robot .hardpoints .weapon-infobox .weapon-infobox-image img {
  max-width: 60px;
  max-height: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#wwr .robot .hardpoints .weapon-infobox .name {
  width: 60%;
  text-align: right;
  float: right;
  font-size: 12px;
  padding-right: 3px;
  padding-top: 4px;
}
#wwr .lists {
  background-color: #f1f1f1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  margin-bottom: 20px;
}
#wwr .lists li {
  clear: both;
  padding: 10px 2px 10px 12px;
  border-bottom: 1px solid #cdcdcd;
}
#wwr .lists li:last-child {
  border-bottom: 1px solid transparent;
}
#wwr .lists li:first-child {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#wwr .lists li.header {
  background-color: #fafafa;
  font-size: 1.2em;
  font-weight: 700;
}
#wwr .lists li.header span {
  float: right;
  width: auto;
  margin-right: 6px;
  padding: 2px 16px;
  background-color: #eee;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  top: -4px;
}
#wwr .lists li.header span:hover {
  background-color: #ddd;
  cursor: pointer;
}
#wwr #weapon-selector {
  display: none;
  z-index: 100;
  width: 75%;
  max-width: 240px;
  top: 200px;
  left: 20px;
  height: 180px;
  overflow-y: auto;
  position: absolute;
}
#wwr #weapon-selector #weaponselector-list {
  margin-bottom: 0px;
}
#wwr #pane-maps img {
  max-width: 100%;
}
#wwr #pane-links a {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}
#wwr #pane-compareweapons h2 {
  display: inline-block;
}
#wwr .filter {
  margin-left: 12px;
  background-color: #333;
  display: inline-block;
  padding: 3px 5px;
  color: #f1f1f1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 14px;
}
#wwr .filter .item,
#wwr .filter .header {
  width: auto;
  float: left;
  padding: 2px 6px;
}
#wwr .filter .item {
  font-weight: 300;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3px;
}
#wwr .filter .item:hover {
  background-color: #444;
}
#wwr .filter .item.active {
  background-color: #555;
}
#wwr #compare-weapons table {
  background-color: #444;
  color: #f1f1f1;
  width: 100%;
  font-size: 14px;
}
#wwr #compare-weapons table tr:nth-child(even) {
  background: #555;
}
#wwr #compare-weapons table td.alternative {
  background-image: url("../images/bg-blue.png");
}
#wwr #compare-weapons table td.number {
  text-align: right;
}
#wwr #compare-weapons table th {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  background-image: url("../images/icons/sort-arrow.png");
}
#wwr #compare-weapons table th.headerSortDown {
  background-color: #555;
  background-image: url("../images/icons/sort-arrow-down.png");
}
#wwr #compare-weapons table th.headerSortUp {
  background-color: #555;
  background-image: url("../images/icons/sort-arrow-up.png");
}
#wwr #compare-weapons table td,
#wwr #compare-weapons table th {
  padding: 4px 12px 4px 6px;
}
#wwr #compare-weapons table td {
  font-weight: 300;
}
#wwr #compare-weapons table td a {
  color: #fff;
  text-decoration: none;
}
#wwr #compare-weapons table td:first-letter {
  text-transform: uppercase;
}
#wwr #weapon-upgrades,
#wwr #robot-upgrades {
  font-size: 14px;
  float: right;
  width: 50%;
}
#wwr #weapon-upgrades h4,
#wwr #robot-upgrades h4 {
  margin-top: 12px;
  margin-bottom: 1px;
}
#wwr #weapon-upgrades table,
#wwr #robot-upgrades table {
  background-color: #555;
  color: #f1f1f1;
  width: 100%;
  font-size: 14px;
}
#wwr #weapon-upgrades table tr:nth-child(even),
#wwr #robot-upgrades table tr:nth-child(even) {
  background: #666;
}
#wwr #weapon-upgrades table tr.active,
#wwr #robot-upgrades table tr.active {
  background-color: #3390a3;
}
#wwr #weapon-upgrades table td.number,
#wwr #robot-upgrades table td.number {
  text-align: right;
}
#wwr #weapon-upgrades table th,
#wwr #robot-upgrades table th {
  background-color: #333;
  text-align: right;
}
#wwr #weapon-upgrades table td,
#wwr #robot-upgrades table td,
#wwr #weapon-upgrades table th,
#wwr #robot-upgrades table th {
  padding: 4px 12px 4px 6px;
}
#wwr #weapon-upgrades table td,
#wwr #robot-upgrades table td {
  font-weight: 300;
}
#wwr #weapon-upgrades table td a,
#wwr #robot-upgrades table td a {
  color: #fff;
  text-decoration: none;
}
#wwr #weapon-upgrades table td:first-letter,
#wwr #robot-upgrades table td:first-letter {
  text-transform: uppercase;
}
#wwr #weapon-upgrades .upgrade-radios,
#wwr #robot-upgrades .upgrade-radios {
  margin-top: 12px;
  padding-left: 4px;
}
#wwr #weapon-upgrades .upgrade-radios div,
#wwr #robot-upgrades .upgrade-radios div {
  float: left;
  width: auto;
  background-color: #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 4px;
  margin-right: 4px;
  margin-top: 6px;
}
#wwr #weapon-upgrades .upgrade-radios div.active,
#wwr #robot-upgrades .upgrade-radios div.active {
  background-color: #3390a3;
}
@media screen and (max-width: 1084px) {
  #content {
    width: 100%;
    padding: 16px 30px;
  }
}
@media screen and (max-width: 750px) {
  #wwr h2 {
    font-size: 1.4em;
  }
  #wwr .pane {
    padding: 0;
    border: 0;
  }
  #wwr #info h2 {
    font-size: 1.4em;
  }
  #wwr #pane-start #menu {
    width: 100%;
    float: none;
  }
  #wwr #pane-start #cirkus {
    display: none;
  }
  #wwr .robot .info-box,
  #wwr .weapon .info-box,
  #wwr .robot .image,
  #wwr .weapon .image,
  #wwr .robot #weapon-upgrades,
  #wwr .weapon #weapon-upgrades {
    float: none;
    width: 100%;
    padding: 20px 0px;
  }
  #wwr .robot .info-box table,
  #wwr .weapon .info-box table,
  #wwr .robot .image table,
  #wwr .weapon .image table,
  #wwr .robot #weapon-upgrades table,
  #wwr .weapon #weapon-upgrades table {
    font-size: 12px;
  }
  #wwr .robot .image,
  #wwr .weapon .image {
    padding: 20px;
img
  }
}
