/*

  node_modules/stylus/bin/stylus --watch -c include/css/style.styl
  node_modules/stylus/bin/stylus --watch include/css/style.styl

*/

/*
    Stylus variables
*/
bodyBackgroundColor = #222222
bodyColor = #333333
bodyFontFamily = "Roboto Condensed", Arial, sans-serif
bodyFontSize = 1em
bodyFontWeight = 300
borderColor = #cdcdcd

// WWR GUI Colors
wwrStandardGrey = #444444
wwrDarkerGrey = #333333
wwrLightGrey = #555555
wwrLighterGrey = #666666
wwrWhite = #ffffff
wwrLightBlue = #15b8d9
wwrBlue = #3390a3
wwrRed = #bb0000
wwrImageBackground = #103439

@import "mixins"
@import "reset"


//
//	Structure
//
html
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  font-family: bodyFontFamily
  font-size: bodyFontSize
  font-weight: bodyFontWeight
  color: bodyColor
  background-color: bodyBackgroundColor
  background-position top center
  background-repeat repeat
  background-size 374px 432px
  background-image url(../images/bg-grid.png)
  box-sizing border-box
  -webkit-text-size-adjust: none
  -ms-text-size-adjust: none

#content
  padding 0
  max-width 1024px
  margin-right auto
  margin-left auto

#wrapper
  background-image url(../images/bg-fade.png)
  background-repeat repeat-x

#weapon-selector-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 100
  opacity 0.6
  background-color #082c31
  display none

// Selector "i.trn" are used for translations
i
  font-style normal


//
//  Footer
//

#footer-langselector
  width 210px
  text-align center
  margin-right auto
  margin-left auto
  margin-top 24px
  clear both

  b
    color wwrLighterGrey
  span
    color wwrWhite
    display inline-block
    margin-top 4px
    padding 3px 8px
    cursor pointer
    background-color transparent
    border-radius(4px)

  span.active
    background-color wwrLightGrey

#footer-top
  margin-top 42px

  #menuShort
    color wwrLighterGrey
    div
      text-align center
      ul
        display inline-block
        margin auto 0
        li
          display inline-block
          margin-right 10px
          cursor pointer

#footer
  padding: 20px

#branding
  margin-top 20px
  color wwrLighterGrey
  text-align center
  padding 10px 20px
  text-transform: uppercase
  font-weight 400
  font-size: 1.4em
  background-image url(../images/bg-dark85.png)

  .disclaimer
    text-transform none
    text-align center
    margin 0
    color wwrLighterGrey
    font-size 12px

/*
    WWR
*/

#wwr

  a
    color wwrWhite
    text-decoration none
    font-weight 400

  #logo-container
    text-align center

    img
      cursor pointer

  #logo
    width 190px

  h1
    text-indent - 9000px
    height 0px

  h2
    color wwrWhite

  .level
    font-size 80%
    font-weight 700

  #info
    margin-top 12px
    color wwrWhite

    p
      text-align center
      margin 0 0 20px 0

    h2
      margin 0
      text-align center
      font-size 2em

  .static-gui
    display none

  .grey-box
    margin-top 24px
    padding 8px 13px 8px 12px
    background-color wwrStandardGrey
    border-radius(6px)
    color wwrWhite
    font-size 14px

    a
      color wwrLightBlue
    p
      margin-top 2px
      margin-bottom 3px
      border-radius(6px)

  /*
      Panes
  */
  .pane
    /*background-color #191919*/
    /*padding 12px 15px 4px 15px*/
    /*border-radius(6px)*/
    /*border 1px solid #333*/


  /*
      Pane: Error
  */
  #pane-error
    background-color wwrStandardGrey
    padding 10px 12px 10px 12px
    border-radius(6px)
    color wwrWhite
    margin-top 30px

    .error-header
      margin 0

    .error-icon
      vertical-align middle
      margin-right 16px
      float left

    p
      padding-left 82px



  /*
    Pane: Start
  */

  #pane-start
    #menu
      width 30%
      float left

    #cirkus
      padding-left 20px
      width 70%
      float left

      #cirkus-inner
        background-color white
        border-radius(6px)

        #cirkus-left
          float left
          //background-color wwrLightBlue
          //padding-right 338px
          border-radius-left(6px)
          width 50%

          #cirkus-banner
            a
              display inline-block
              background-color wwrRed
              margin 30px 20px 20px 20px
              border-radius(6px)
              padding 6px 12px
              text-align center

          #cirkus-news

            ul
              border-radius-top(6px)


            li:nth-child(odd)
              background-color wwrLightBlue
              color wwrWhite

            li:first-child
              background-color wwrLightBlue
              border-radius-header(6px)
              border-radius-right(0)

            li
              background-color wwrWhite
              margin 0
              padding 6px 12px
              cursor pointer

              .subject
                font-weight 700
                font-size 1.2em
                text-transform uppercase

                span
                  display none

        #cirkus-right
          border-radius-right(6px)
          float right
          width 50%
          height 340px
          background-image url(../images/robot-front.jpg)
          background-position top right
          background-repeat no-repeat
          background-size 100%

  /*
      Pane: Newslist
  */

  #pane-newslist

    li
      margin-bottom 24px
      border-radius(6px)
      color wwrWhite
      font-size 14px

      a
        color wwrLightBlue

      .subject
        margin 0
        width 100%
        padding 8px 13px 8px 12px
        background-color wwrLightGrey
        display inline-block
        font-size 1.4em
        border-radius-header(6px)

        span
          margin-left 10px
          font-size 60%

      .notes
        margin 0
        padding 8px 13px 8px 12px
        background-color wwrStandardGrey
        border-radius-footer(6px)

  /*
      Pane: Relases
  */
  #pane-releases

    .release-box
      margin-bottom 24px
      border-radius(6px)
      color wwrWhite
      font-size 14px

      a
        color wwrLightBlue

      h4
        width 100%
        padding 8px 13px 8px 12px
        background-color wwrLightGrey
        display inline-block
        border-radius-header(6px)

        span
          margin-left 10px
          font-size 60%

      .content
        padding 8px 13px 8px 12px
        background-color wwrStandardGrey
        border-radius-footer(6px)

        h5
          margin-top 12px
          font-size 1.3em
          text-transform uppercase

  /*
      Single robot & weapon
  */

  .links
    margin-bottom 12px
    margin-top 12px
    background-color wwrStandardGrey
    padding 10px 12px 10px 12px
    border-radius(6px)
    color wwrWhite

  .robot, .weapon
    max-width 100%

    .header
      font-size 24px
      font-weight 400
      text-transform uppercase
      background-color wwrLightGrey
      padding 10px 12px 10px 12px
      color wwrWhite
      border-radius-header(6px)

    .container
      width 100%
      padding 10px 12px 10px 12px
      color wwrWhite
      background-color wwrStandardGrey
      border-radius-footer(6px)

    .info-box
      float left
      width 50%
      padding-right 20px

      span.label
        width 150px
        display inline-block

      .row
        b
          display inline-block

        b:first-letter
          text-transform: uppercase

      .info-text
        margin-top 20px
        font-size 90%

    .image
      float left
      width 50%
      padding 10px 10px
      background-color wwrImageBackground

      img
        max-width 100%



  //
  //  Robot only
  //
  .robot

    .armament
      max-width 240px

      h5
        padding-bottom 8px

      .totals
        padding 4px
        margin-top 4px
        border-radius(6px)

      .totals.warning
        background-color wwrRed


    .hardpoints
      border-top 1px solid black

      .filledSlot
        height 55px
        width 100%
        border-bottom 1px solid black
        background-color wwrLightGrey


      .emptySlot
        background-repeat no-repeat
        background-size 100px
        margin-top 7px
        height 55px
        width 100%
        border-bottom 1px solid black

      .hardpoint-medium.emptySlot
        background-image url(../images/icons/weapon-medium.png)
      .hardpoint-standard.emptySlot
        background-image url(../images/icons/weapon-standard.png)
      .hardpoint-heavy.emptySlot
        background-image url(../images/icons/weapon-heavy.png)

      .hardpoint-medium.filledSlot,
      .hardpoint-standard.filledSlot,
      .hardpoint-heavy.filledSlot
        background-image none

      .weapon-infobox
        //margin-top 4px

        .info
          float right

          .row
            font-size 11px
            width 50px
            float right
            text-align right
            padding-right 3px
            line-height 14px

            b
              padding-right 3px

        .weapon-infobox-image
          float left
          width 60px
          height 45px
          margin-bottom 5px
          position relative
          margin-left 5px
          margin-top 5px

          img
            max-width 60px
            max-height 45px
            position: absolute;
            top 0
            bottom 0
            left 0
            right 0
            margin auto


        .name
          width 60%
          text-align right
          float right
          font-size 12px
          padding-right 3px
          padding-top 4px

  //
  // Lists, menu, robots & weapons
  //

  .lists
    background-color #f1f1f1
    border-radius(6px)
    border 1px solid borderColor
    margin-bottom 20px

    li
      clear both
      padding: 10px 2px 10px 12px
      border-bottom 1px solid borderColor

    li:last-child
      border-bottom 1px solid transparent

    li:first-child
      -webkit-border-top-left-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      -moz-border-radius-topleft: 6px;
      -moz-border-radius-topright: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

    li.header
      background-color #fafafa
      font-size 1.2em
      font-weight 700

      span
        float right
        width auto
        margin-right 6px
        padding 2px 16px
        background-color #eeeeee
        border 1px solid #cdcdcd
        border-radius(8px)
        position relative
        top - 4px

      span:hover
        background-color #ddd
        cursor pointer

  #weapon-selector
    display none
    z-index 100
    width 75%
    max-width 240px
    top 200px
    left 20px
    height 180px;
    overflow-y auto
    position absolute

    #weaponselector-list
      margin-bottom 0px

  //
  //  Maps
  //

  #pane-maps
    img
      max-width 100%

  //
  //  Links
  //

  #pane-links
    a
      color #fff
      display inline-block
      margin-right 10px

  //
  //  COMPARE WEAPONS
  //

  #pane-compareweapons
    h2
      display inline-block

  .filter
    margin-left 12px
    background-color wwrDarkerGrey
    display inline-block
    padding 3px 5px
    color #f1f1f1
    border-radius(8px)
    font-size 14px

    .item, .header
      width auto
      float left
      padding 2px 6px

    .item
      font-weight 300
      border-radius(5px)
      cursor pointer
      margin-right 3px

    .item:hover
      background-color wwrStandardGrey

    .item.active
      background-color wwrLightGrey

  #compare-weapons

    table
      background-color wwrStandardGrey
      color #f1f1f1
      width 100%
      font-size 14px

      tr:nth-child(even)
        background wwrLightGrey

      td.alternative
        background-image url(../images/bg-blue.png)

      td.number
        text-align right

      th
        background-color wwrDarkerGrey
        background-repeat no-repeat
        background-position center right
        cursor pointer
        background-image url(../images/icons/sort-arrow.png)

      th.headerSortDown
        background-color wwrLightGrey
        background-image url(../images/icons/sort-arrow-down.png)

      th.headerSortUp
        background-color wwrLightGrey
        background-image url(../images/icons/sort-arrow-up.png)

      td, th
        padding 4px 12px 4px 6px

      td
        font-weight 300

        a
          color #ffffff
          text-decoration none

      td:first-letter
        text-transform: uppercase

  //
  //  WEAPON UPGRADES
  //

  #weapon-upgrades, #robot-upgrades
    font-size 14px
    float right
    width 50%


    h4
      margin-top 12px
      margin-bottom 1px

    table
      background-color wwrLightGrey
      color #f1f1f1
      width 100%
      font-size 14px

      tr:nth-child(even)
        background wwrLighterGrey

      tr.active
        background-color wwrBlue

      td.number
        text-align right

      th
        background-color wwrDarkerGrey
        text-align right

      td, th
        padding 4px 12px 4px 6px

      td
        font-weight 300

        a
          color #ffffff
          text-decoration none

      td:first-letter
        text-transform: uppercase


    .upgrade-radios
      margin-top 12px
      padding-left 4px

      div
        float left
        width auto;
        background-color wwrLighterGrey
        border-radius(5px);
        padding 2px 4px
        margin-right 4px
        margin-top 6px

      div.active
        background-color wwrBlue


//
//  Responsive
//
@media screen and (max-width: 1084px)
  #content
    width 100%
    padding 16px 30px

@media screen and (max-width: 750px)
  #wwr

    h2
      font-size 1.4em

    .pane
      padding 0
      border 0

    #info
      h2
        font-size: 1.4em;

    #pane-start
      #menu
        width 100%
        float none

      #cirkus
        display none

    .robot, .weapon
      .info-box, .image, #weapon-upgrades
        float none
        width 100%
        padding 20px 0px

        table
          font-size 12px

      .image
        padding 20px
        img